Package: stobs
Title: stobs
Version: 1.0
Section: File Management
Priority: optional
Architecture: all
Depends: bash,qpdf
Maintainer: Dubosts Renaud
Description: "Reorganize your pdf in two-sided format"
